/*Selectores globales*/
* {
  margin: 0;
  padding: 0;
  gap: 50px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/*El contenido que tenga el body estará centrado en la pantalla*/
body {
  background: #e3edf7;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Conenedor principal*/
.habilidad {
  width: 160px;
  height: 160px;
  /*background: cornflowerblue;*/
  position: relative;
}

/*Circulo*/
.outer {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  padding: 20px;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}

/*Barra de progreso*/
.inner {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
    inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
    -0.5px -0.5px 0px rgba(255, 255, 255, 1),
    0.5px 0.5px 0px rgba(0, 0, 0, 0.15),
    0px 12px 10px -10px rgba(0, 0, 0, 0.05);
}

/*Estilos para el numero que va dentro de la barra de progreso*/
#numero {
  font-weight: 600px;
  color: #555;
}

/*Utilizamos el tag "Circle" para darle estilos*/
circle {
  fill: none;
  /*linkamos el stroke con el id del tag "GradientColor"*/
  stroke: url(#GradientColor);
  stroke-width: 20px;
  /*472 es la longitud total de la barra de progreso*/
  stroke-dasharray: 472;
  /*stroke-dashoffset es el offset de la barra de progreso(le va restando a la longitud total de la barra de progreso)*/
  stroke-dashoffset: 472;
  animation: anim 2s linear forwards;
}

svg {
  position: absolute;
  top: 0;
  left: 0;

}

/*En 2s se va completa la barra de progreso*/
@keyframes anim {
  100% {
    /*mediante la formula 472-472*65/100= 165 (asi la barra carga hasta el 65%)*/
    /*haz la formula para el 472-472*90/100= 165*/
    stroke-dashoffset: 110;
  }
}